@import "../css/partials/reset";
@import "../css/partials/grid";

@include grid-system(12, 1200px, 6px, 400px);
//$col-count: 12, $max-width: 1200px, $gutter-size: 12px, $breakpoint-width: 800px
nav {
  height: 2em;
  border: 1px solid black;
  margin: 0 auto;
  width: 100vw;
}

.about {
  height: 40vh;
  background-color: whitesmoke;
}

.row {
  //height: auto;
  width: 90vw;
  margin: 0 auto;
}

.hair {
  height: 10vh;
  background-color: aliceblue;
  .oneHair {
    //    float: left;
    background-color: darkblue;
    transform: skewY(5deg);
    height: 100%;
  }
}

.eyebrows {
  height: 10vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  .brow {
    background-color: darkblue;
    transform: skewY(5deg);
    height: 50%;
  }
}

.forEyes {
  height: 30vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  .eye {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 0 auto;
//    border: 4px solid dodgerblue;
    //    align-self: flex-start;
    .eyeCov {
      width: 100%;
      height: 0;
      border-top: 74px solid lightseagreen;
      border-top-left-radius: 74px;
      border-top-right-radius: 74px;
      background-color: lightseagreen;
    }
    .eyeDot {
//align-self: center;
      width: 40px;
      height: 40px;
//      border-bottom: 40px solid lightseagreen;
      border-radius: 50%;
//      border-bottom-right-radius: 40px;
      background-color: darkslateblue;
      z-index: 2;
    }
  }
  .noseTop {
    width: 0;
    height: 0;
    border-top: 80px solid lightseagreen;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: lightseagreen;

    align-self: flex-end;
  }
}

.forNose {
  height: 10vh;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  .chick {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: red;
  }
  .noseL {
    width: 0;
    height: 0;
    border-top: 50px solid lightseagreen;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .noseR {
    width: 0;
    height: 0;
    border-top: 50px solid lightseagreen;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .noseBottom {
    //    width: 0;
    height: 50px;
    background-color: lightseagreen;
  }
}

.forTopLips {
  height: 5vh;
  background-color: red;
}

.topTeeth, .bottomTeeth {
  height: 20vh;
  display: flex;
  .lip {
    flex: stretch;
    background-color: red;
  }
  .tooth {
    flex: stretch;
    background-color: white;
    border-left: solid 1px lightgoldenrodyellow;
    border-right: solid 1px lightgoldenrodyellow;
    border-bottom: solid 1px lightgoldenrodyellow;
  }
}

.forBottomLips {
  height: 5vh;
  background-color: red;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

