$num-cols: 8;
$num-rows: 6;

$num-fragment: $num-cols * $num-rows;

$img-width: 768px;
$img-height: 512px;

@keyframes plus-anime { // animacja dla np. nieparzystych kafelków wysuwa dół do przodu
  0% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 0 0 black;
  }
  10% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 0 0 black;
  }

  50% {
    transform: perspective(400px) rotateX(10deg) rotateY(10deg);
    box-shadow: 0 5px 8px -4px black;
  }
  75% {
    transform: perspective(400px) rotateX(10deg) rotateY(10deg);
    box-shadow: 0 5px 8px -4px black;
  }


  100% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 0 0 black;
  }
}

@keyframes minus-anime { // animacja dla np. parzystych kafelków wysuwa górę do przodu
  0% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);

    box-shadow: 0 0 0 0 black;
  }
  10% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);

    box-shadow: 0 0 0 0 black;
  }

  50% {
    transform: perspective(400px) rotateX(-10deg) rotateY(-10deg);
    box-shadow: 0 -5px 8px -4px black;
  }
  75% {
    transform: perspective(400px) rotateX(-10deg) rotateY(-10deg);
    box-shadow: 0 -5px 8px -4px black;
  }

  100% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 0 0 black;
  }
}

@mixin push-rose($col-index, $row-index) { // uzależniamy użycie plus- lub minus-anime od indexu x i y kafelka
                                      // podwójna pętla robi jakby szachownicę

  transform: perspective(400px) rotateX(-10deg) rotateY(-10deg);
  box-shadow: 0 -5px 8px -4px black;
//  @if ($row-index)%2==0 {
//    @if ($row-index*$col-index - $col-index )%2==0 { // dla parzystych rzędów robię kolumny nieparzystymi
////      animation: plus-anime 2s 1;
//
//    } @else {
//      animation: minus-anime 2s 1;
//    }
//  } @else { // dla nieparzystych rzędów kolumny zacnę od będą parzyste
//    @if ($row-index*$col-index)%2==0 { //
//      animation: minus-anime 2s 1;
//    } @else {
//      animation: plus-anime 2s 1;
//    }
//  }
}










