$num-cols: 8;
$num-rows: 6;

$num-fragment: $num-cols * $num-rows;

$img-width: 768px;
$img-height: 512px;

$fragment-width: $img-width/$num-cols;

$degree:  10deg;

@mixin assembling-map($col-index) {

    @if ($col-index)%2==0 { // dla nieparzystych kolumn
//      animation: down-anime 1s 1;
      transform: skewY(-$degree);
      transform-origin: 100% 0;
      & .reflex {
        @include gradient-reflex-dark();
      }
    } @else {
//      animation: up-anime 1s 1;
      transform: skewY($degree);
//      transform: perspective(400px) rotateX(-10deg);
      transform-origin: 0 100%;
      & .reflex {
        @include gradient-reflex-bright();
      }
    }
  }

@mixin gradient-reflex-bright() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}
@mixin gradient-reflex-dark() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}







